detailartikel.spec.js-snapshots/form-search-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-burger-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-darkmode-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-getinews-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-inews-header-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-inews-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-login-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-network-header-win32-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-tv-header-chromium-win32.png
detailartikel.spec.js-snapshots/ikon-tv-header-win32-chromium-win32.png
widget.spec.js-snapshots/form-search-ishort-win32-chromium-win32.png
widget.spec.js-snapshots/ikon-burger-ishort-win32-chromium-win32.png
widget.spec.js-snapshots/ikon-darkmode-ishort-win32-chromium-win32.png
widget.spec.js-snapshots/ikon-inews-ishort-win32-chromium-win32.png
widget.spec.js-snapshots/ikon-login-ishort-win32-chromium-win32.png
